<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.bp.asclepius.mapper.AppointmentDetailMapper">
	<resultMap id="appointmentDetailMap" type="buaa.bp.asclepius.model.AppointmentDetail">
		<id property="appdetailId" column="appdetailid" />
		<result property="date" column="date" />
		<result property="time" column="time" />
 		<result property="amount" column="amount" />
		<result property="doctorId" column="doctorid" />
		<result property="deptId" column="deptid" />
		<result property="hospitalId" column="hospitalid" />
	</resultMap>
	<select id="getAppointmentByConditions" resultMap="appointmentDetailMap">
		<![CDATA[
			select * from appdetail where hospitalid=#{0} and deptid=#{1} and doctorid=#{2} and date=#{3} and time=#{4};
		]]>
	</select>
	<select id="getAppointmentById" resultMap="appointmentDetailMap">
	    <![CDATA[
	    	select * from appdetail where appdetailid = #{appdetailid};
		]]>
	</select>
	<insert id="createAppointmentDetail" parameterType="buaa.bp.asclepius.model.AppointmentDetail">
	    <![CDATA[
	    	insert into appdetail(appdetailid,date,time,amount,doctorid,deptid,hospitalid)
	    		values(#{appdetailId},#{date},#{time},#{amount},#{doctorId},#{deptId},#{hospitalId});
		]]>
	</insert>
	<update id="updateAppointmentDetail" parameterType="buaa.bp.asclepius.model.AppointmentDetail">
		<![CDATA[
	    	update appdetail set date=#{date},time=#{time},amount=#{amount},doctorid=#{doctorId},deptid=#{deptId},hospitalid=#{hospitalId}
	    		where appdetailid = #{appdetailId}
		]]>
	</update>
	<delete id="deleteAppointmentDetail" parameterType="long">
		<![CDATA[
	    	delete from appdetail where appdetailid = #{appdetailId};
		]]>
	</delete>
	<select id="count" resultType="int">
		<![CDATA[
		    	select count(1) from appdetail;
		]]>
	</select>
	<select id="selectByRange" resultMap="appointmentDetailMap">
		<![CDATA[
		    	select * from appdetail limit #{0},#{1};
		]]>
	</select>
</mapper>