<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.bp.asclepius.mapper.CreditMapper">
	<resultMap id="creditMap" type="buaa.bp.asclepius.model.Credit">
		<id property="creditId" column="creditid" />
		<result property="description" column="description" />
		<result property="userId" column="userid" />
		<result property="createTime" column="createtime" />
	</resultMap>
	<select id="getAllCredits" parameterType="long" resultMap="creditMap">
	    <![CDATA[
	    	select * from credit where userid = #{userId};
		]]>
	</select>
	<select id="getCreditById" resultMap="creditMap">
	    <![CDATA[
	    	select * from credit where userid = #{0} and creditid = #{1};
		]]>
	</select>
	<insert id="createCredit" parameterType="buaa.bp.asclepius.model.Credit">
	    <![CDATA[
	    	insert into credit(creditid,description,userid,createtime)
	    		values(#{creditId},#{description},#{userId},#{createTime});
		]]>
	</insert>
	<update id="updateCredit" parameterType="buaa.bp.asclepius.model.Credit">
		<![CDATA[
	    	update credit set description=#{description},userid=#{userId},createtime=#{createTime}
	    		where creditid = #{creditId}
		]]>
	</update>
	<delete id="deleteCredit" parameterType="long">
		<![CDATA[
	    	delete from credit where creditid = #{creditId};
		]]>
	</delete>
	<select id="count" resultType="int">
		<![CDATA[
		    	select count(1) from credit;
		]]>
	</select>
	<select id="selectByRange" resultMap="creditMap">
		<![CDATA[
		    	select * from credit limit #{0},#{1};
		]]>
	</select>
</mapper>