<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.bp.asclepius.mapper.DepartmentMapper">
	<resultMap id="departmentMap" type="buaa.bp.asclepius.model.Department">
		<id property="departmentId" column="deptid" />
		<result property="departmentName" column="deptname" />
		<result property="description" column="description" />
		<result property="hospitalId" column="hospitalid" />
	</resultMap>
	<select id="getAllDepartments" parameterType="long" resultMap="departmentMap">
	    <![CDATA[
	    	select * from department where hospitalid = #{hospitalid};
		]]>
	</select>
	<select id="getDepartmentById" resultMap="departmentMap">
	    <![CDATA[
	    	select * from department where hospitalid = #{0} and deptid = #{1};
		]]>
	</select>
	<insert id="createDepartment" parameterType="buaa.bp.asclepius.model.Department">
	    <![CDATA[
	    	insert into department(deptid,deptname,description,hospitalid)
	    		values(#{departmentId},#{departmentName},#{description},#{hospitalId});
		]]>
	</insert>
	<update id="updateDepartment" parameterType="buaa.bp.asclepius.model.Department">
		<![CDATA[
	    	update department set deptname=#{departmentName},description=#{description},hospitalid=#{hospitalId}
	    		where deptid = #{departmentId};
		]]>
	</update>
	<delete id="deleteDepartment" parameterType="long">
		<![CDATA[
	    	delete from department where deptid = #{deptid};
		]]>
	</delete>

</mapper>